
 <div class="w3-container" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

          <h1>Servicios</h1>

          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tarifa</th>
                <th colspan="2"></th>
              </tr>
            </thead>

            <tbody>
              <% @servicios.each do |servicio| %>
                <tr>
                  <td><%= servicio.nombre %></td>
                  <td><%= servicio.tarifa %></td>
                  <td><%= link_to 'Edit', edit_servicio_path(servicio) %></td>
                  <td><%= link_to 'Destroy', servicio, method: :delete, data: { confirm: 'Seguro que quieres eliminar el servicio?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>



              <div class="row  around-xs">
                                <div class="col-xs-2  ">
                                      
                                     <%= button_to "Nuevo",new_servicio_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> 

                                       
                                  
                                </div>

                                 <div class="col-xs-2  ">
                             
                                        <% if current_user.permiso == "cliente"%>

                                     <%= button_to "Atrás", cliente_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> 


                                    <% end %>

                                   <% if current_user.permiso == "profesional"%>
                                     
                                        <%= button_to "Atrás", profesional_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> 
                                      
                                   <% end %>

                                   <% if current_user.permiso == "administrador"%>

                                      <%= button_to "Atrás", administrador_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-red w3-hover-blue boton_padding" %>
                          
                                   <% end %>

                                </dir>


                             
          </div>





 </div>

