 <div class="w3-container" style="background-color: rgba(33,150,243,0.9);">




             <% if current_user.nombre != ""  %>   
				<h1>Bienvenido <%= current_user.nombre%>! </h1>
			 <% else %>
			 	<h1>Bienvenido!</h1>
          	 <% end %>

             <dir class="row">
                  <h3>Elije que vamos a hacer hoy</h3>
             </dir>
	
        <h2>Administrar personal:</h2>

               <div class="row ">           
                      
                        <dir><%= button_to "Administradores",administrador_index_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
                      
                        <dir><%= button_to "Profesionales",profesional_index_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
                       
                        <dir><%= button_to "Clientes", cliente_index_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
  
              </div>

   


              <h2>Tipos de servicios:</h2>

              <div class="row ">

                         <dir><%= button_to "Profesiones", profesions_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

                         <dir><%= button_to "Servicios", servicios_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

              </div>
        

              <h2>Tus datos:</h2>

              <div class="row ">

                        <dir><%= button_to "Editar perfil", edit_user_registration_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

              </div>
      </div>
</div>
			        



