
                

          <p id="notice"><%= notice %></p>

          <h1>Listado de administradores</h1>

          <table>
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th class="color-blanco-botones-tabla" colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @administrador.each do |administrador| %>
                <tr>
                  <td class="padding_table"><%= administrador.nombre %></td>
                  <td class="padding_table"><%= administrador.email %></td>

                  <td class="color-blanco-botones-tabla">

                      <button  class = 'imagen_ver'></button>
                    
                  </td>
                  <td class="color-blanco-botones-tabla" >

                      <button class = 'imagen_editar'></button>


                  </td>
                  <td class="color-blanco-botones-tabla">

                   
                       
                       
                      
              
                     <%= link_to 'Destroy', { :action => :destroy, :id => administrador.id }, :method => :delete, :data => { :confirm => 'Esta seguro de elimiarlo de los rgistros?' } %>


                      <%= link_to "Section", root_path, :class => "my-class", :id => "my-id" %>
                      # => <a href="/" class="my-class" id="my-id">Section</a>
                     
                  
                  <a rel="nofollow" data-method="delete" id = "administrador.id" href="/administrador/2">Remove</a>


                  </td>

                </tr>
              <% end %>




<div class="container">
  <h2>Glyphicon Examples</h2>
  <p>Envelope icon: <span class="glyphicons glyphicons-search"></span></p>    
  <p>Envelope icon as a link:
    <a href="#"><span class="glyphicon glyphicon-envelope"></span></a>
  </p>
  <p>Search icon: <span class="glyphicon glyphicon-search"></span></p>
  <p>Search icon on a button:
    <button type="button" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </p>
  <p>Search icon on a styled button:
    <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
  </p>
  <p>Print icon: <span class="glyphicon glyphicon-print"></span></p>      
  <p>Print icon on a styled link button:
    <a href="#" class="btn btn-success btn-lg">
      <span class="glyphicon glyphicon-print"></span> Print 
    </a>
  </p> 
</div>




            </tbody>
          </table>
