<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong>	
  <%= @administrador.nombre %>
</p>

<p>
  <strong>Email:</strong>	
  <%= @administrador.email %>
</p>
<p>
  <strong>Run:</strong>	
  <%= @administrador.rut %>
</p>

  <strong>Numero contacto:</strong>	
  <%= @administrador.numero_contacto %>


</p>
<%= link_to 'Editar', administrador_index_path %> |
<%= link_to 'Atras', administrador_index_path %>
