
             

              <h2>Editar perfil <%# resource_name.to_s.humanize %></h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true , class:"form-control"  %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Actualmnete se espera confirmacion de: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password , class:"form-text" %> <i>(Dejalo en blanco si no quieres cambiarlo)</i><br />
                  <%= f.password_field :password, autocomplete: "off" , class:"form-control"  %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> caracteres minimos</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation , class:"form-text"%><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off"  , class:"form-control" %>
                </div>

                <div class="field">
                  <%= f.label :current_password , class:"form-text"%> <i>(Necesito su contraseña actual para confirmar sus cambios)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off" , class:"form-control"  %>
                </div>

                <div class="actions">
                  <%= f.submit "Update" %>
                </div>
              <% end %>

              <div class="w3-container" style="background-color: #EDF7FF">


                      <h3>Cancelar mi cuenta</h3>

                      <p>descontento con el servicio? <%= button_to "Eliminar cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete , class: "w3-button w3-border w3-green w3-hover-blue boton_padding"%></p>

              </div>



              <dir class="row"><%= button_to "Atras",root_path , :method => :get ,   class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>