
 <div class="w3-container w3-round-large" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

              <h2>Registrarse</h2>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <%= devise_error_messages! %>




                <div class="field">
                      <%= f.label :nombre , class:"form-text"%><br />
                      <%= f.text_field :nombre , autofocus: true , class:"form-control" %>
                </div>

                 <div class="field">
                      <%= f.label :apellido_paterno , class:"form-text"%><br />
                      <%= f.text_field :apellido_paterno, class:"form-control" %>
                </div>

                 <div class="field">
                      <%= f.label :apellido_materno , class:"form-text"%><br />
                      <%= f.text_field :apellido_materno, class:"form-control" %>
                </div>

                <div class="field">
                      <%= f.label :rut , class:"form-text"%><br />
                      <%= f.text_field :rut, class:"form-control" %>
                </div>


                <div class="field">

                      <%= f.label :numero_contacto , "Numero de contacto", class:"form-text"%><br />
                      <%= f.text_field :numero_contacto, class:"form-control"%>
                </div>

                <div class="field">
                      <%= f.label :email , class:"form-text"%><br />
                      <%= f.email_field :email, class:"form-control"%>
                </div>



                <div class="field">
                  <%= f.label :password, "Contraseña" ,  class:"form-text" %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characteres minimos)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" , class:"form-control" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation, "Confirmar contraseña" ,class:"form-text" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" , class:"form-control"%>
                </div>
                <div class="field">
                 <h1>Esto de rol es temporal!!</h1>
                 <%= f.label :rol %><br />
                 <select name = "user[permiso]" id="user_permiso">
                   <option value="">selecione rol</option>
                   <option value="cliente">Cliente</option>
                   <option value="profesional">Especialista</option>
                   <option value="administrador">Administrador</option>
                 </select>
             </div>



              <div class="row  around-xs">
                  <div class="col-xs-2  ">
                          <button type="submit" class = 'w3-button w3-border w3-green w3-hover-blue boton_padding'>
                                        Registrarse
                          </button>
                  </div>
                       <div class="col-xs-2  ">
                         <%= button_to "Iniciar",new_user_session_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %>
                       </div>
              </div>


              <% end %>


</div>
