<p id="notice"><%= notice %></p>

<p>
  <strong>Hora1:</strong>
  <%= @horario_dium.Hora1 %>
</p>

<p>
  <strong>Hora2:</strong>
  <%= @horario_dium.Hora2 %>
</p>

<p>
  <strong>Hora3:</strong>
  <%= @horario_dium.Hora3 %>
</p>

<p>
  <strong>Hora4:</strong>
  <%= @horario_dium.Hora4 %>
</p>

<p>
  <strong>Hora5:</strong>
  <%= @horario_dium.Hora5 %>
</p>

<p>
  <strong>Hora6:</strong>
  <%= @horario_dium.Hora6 %>
</p>

<p>
  <strong>Hora7:</strong>
  <%= @horario_dium.Hora7 %>
</p>

<p>
  <strong>Hora8:</strong>
  <%= @horario_dium.Hora8 %>
</p>

<p>
  <strong>Hora7:</strong>
  <%= @horario_dium.Hora7 %>
</p>

<p>
  <strong>Hora9:</strong>
  <%= @horario_dium.Hora9 %>
</p>

<p>
  <strong>Hora10:</strong>
  <%= @horario_dium.Hora10 %>
</p>

<p>
  <strong>Hora11:</strong>
  <%= @horario_dium.Hora11 %>
</p>

<p>
  <strong>Hora12:</strong>
  <%= @horario_dium.Hora12 %>
</p>

<p>
  <strong>Hora13:</strong>
  <%= @horario_dium.Hora13 %>
</p>

<p>
  <strong>Hora14:</strong>
  <%= @horario_dium.Hora14 %>
</p>

<p>
  <strong>Hora15:</strong>
  <%= @horario_dium.Hora15 %>
</p>

<p>
  <strong>Hora16:</strong>
  <%= @horario_dium.Hora16 %>
</p>

<p>
  <strong>Hora17:</strong>
  <%= @horario_dium.Hora17 %>
</p>

<p>
  <strong>Hora18:</strong>
  <%= @horario_dium.Hora18 %>
</p>

<p>
  <strong>Hora19:</strong>
  <%= @horario_dium.Hora19 %>
</p>

<p>
  <strong>Hora20:</strong>
  <%= @horario_dium.Hora20 %>
</p>

<p>
  <strong>Hora21:</strong>
  <%= @horario_dium.Hora21 %>
</p>

<p>
  <strong>Hora22:</strong>
  <%= @horario_dium.Hora22 %>
</p>

<p>
  <strong>Hora23:</strong>
  <%= @horario_dium.Hora23 %>
</p>

<p>
  <strong>Hora24:</strong>
  <%= @horario_dium.Hora24 %>
</p>

<%= link_to 'Edit', edit_horario_dium_path(@horario_dium) %> |
<%= link_to 'Back', horario_dia_index_path %>
