<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong>	
  <%= @cliente.nombre %>  <%= @cliente.apellido_materno %>  <%= @cliente.apellido_paterno %>
</p>

<p>
  <strong>Email:</strong>	
  <%= @cliente.email %>
</p>
<p>
  <strong>Run:</strong>	
  <%= @cliente.rut %>
</p>

<p>
  <strong>Permiso:</strong> 
  <%= @cliente.permiso %>
</p>

<p>
  <strong>Numero contacto:</strong>	
  <%= @cliente.numero_contacto %>
</p>

<p style="color: red">
  <strong style="color: #333333">Horario:</strong>
    <% if @cliente.horario == nil %>
        no actualizado
    <% else%>
         <%= @cliente.horario %>
    <% end %>
</p>

<p style="color: red">
  <strong style="color: #333333">Comuna:</strong>
    <% if @cliente.comuna == nil %>
        no actualizado
    <% else%>
         <%= @cliente.comuna %>
    <% end %>
</p>





	  <div class="row ">
        <div class="center-xs">
                      

          <dir><%= button_to "Atrás",cliente_index_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

      



          			</div>
              </div>
