<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_hora.descripcion %>
</p>

<p>
  <strong>Due«Òo hora:</strong>
  <%= @tipo_hora.due«Òo_hora %>
</p>

<%= link_to 'Edit', edit_tipo_hora_path(@tipo_hora) %> |
<%= link_to 'Back', tipo_horas_path %>
