<p id="notice"><%= notice %></p>

<h1>Horario Mes</h1>

<table>
  <thead>
    <tr>
      <th>Horario</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horario_mes.each do |horario_me| %>
      <tr>
        <td><%= horario_me.horario %></td>
        <td><%= horario_me.descripcion %></td>
        <td><%= link_to 'Show', horario_me %></td>
        <td><%= link_to 'Edit', edit_horario_me_path(horario_me) %></td>
        <td><%= link_to 'Destroy', horario_me, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horario Me', new_horario_me_path %>
