<p id="notice"><%= notice %></p>

<p>
  <strong>Horario:</strong>
  <%= @horario_me.horario %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @horario_me.descripcion %>
</p>

<%= link_to 'Edit', edit_horario_me_path(@horario_me) %> |
<%= link_to 'Back', horario_mes_index_path %>
