<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select(:comuna) do %>
  <% [['zona 1 ', "zona 1"], ['zona 2', 'zona 2'], ['zona 3', 'zona 3']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
  </div>



  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :horario_fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.time_select :hora, id: :horario_hora %>
  </div>

  <div class="field">
    <%= form.label :disponible %>
    <%= form.check_box :disponible, id: :horario_disponible %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario, id: :horario_comentario %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<div class="w3-container w3-purple" style="margin-bottom: 14px">



<div class="cuadro container">
 <%= image_tag "comunas.png",  :alt => "comunas_santiago", :title => "zonas_de_atencion"%>
</div>


<div class="fourteen columns offset-one  left">
<%= image_tag "sectores.png", :alt => "colores_comunas", :title => "colores_comunas"%>
</div>
</div>
