<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profesional %>
    <% if current_user.permiso == "administrador"%>
    <%= form.text_field :profesional, id: :horario_profesional %>


<% else %>
<%= form.select(:profesional) do %>

  <% [[current_user.nombre, current_user.nombre]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
    <% end %>
<% end %>
</div>
  <div class="field">
    <%= form.label :zona %>
    <%= form.select(:zona) do %>
  <% [['zona 1 ', "zona 1"], ['zona 2', 'zona 2'], ['zona 3', 'zona 3']].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
</div>
  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :horario_fecha %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.select(:hora) do %>
<% [['08:00', '08:00'],
    ['08:30', '08:30'],
    ['09:00', '09:00'],
    ['09:30', '09:30'],
    ['10:00', '10:00'],
    ['10:30', '10:30'],
    ['11:00', '11:00'],
    ['11:30', '11:30'],
    ['12:00', '12:00'],
    ['12:30', '12:30'],
    ['13:00', '13:00'],
    ['13:30', '13:30'],
    ['14:00', '14:00'],
    ['14:30', '14:30'],
    ['15:00', '15:00'],
    ['15:30', '15:30'],
    ['16:00', '16:00'],
    ['16:30', '16:30'],
    ['17:00', '17:00'],
    ['17:30', '17:30'],
    ['18:00', '18:00'],
    ['18:30', '18:30'],
    ['19:00', '19:00'],
    ['19:30', '19:30'],
    ['20:00', '20:00'],
    ['20:30', '20:30'],
    ['21:00', '21:00'],
    ['21:30', '21:30'],
    ['22:00', '22:00']].each do |c| %>
  <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <% end %>
  </div>


  <div class="field">
    <%= form.label :disponibilidad %>
    <%= form.check_box :disponibilidad, id: :horario_disponibilidad %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :horario_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
