



<%= form_with(model: horario, local: true) do |form| %>
  <% if horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horario.errors.count, "error") %> prohibited this horario from being saved:</h2>
      <ul>
      <% horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <% if current_user.permiso != "cliente"%>   <div class="field">
    <h1>Creacion de horario</h1>
    <% end %>
  <% if current_user.permiso == "cliente"%>   <div class="field">
    <div class="w3-container w3-yellow" style="margin-bottom: 14px">
      <% if current_user.permiso == "cliente"%>   <div class="field">
      <h1>Reserva de hora</h1>
      <% end %>

    <p>
      <strong>Profesional:</strong>
      <%= @horario.profesional %>
    </p>

    <p>
      <strong>Zona:</strong>
      <%= @horario.zona %>
    </p>

    <p>
      <strong>Fecha:</strong>
      <%= @horario.fecha %>
    </p>





<div class="field">
  <%= form.label :cliente %>
  <%= form.select(:cliente) do %>
    <% [[current_user.nombre, current_user.nombre]].each do |c| -%>
      <%= content_tag(:option, c.first, value: c.last) %>
    <% end %>
      <% end %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.select(:apellido) do %>
      <% [[current_user.apellido_paterno, current_user.apellido_paterno]].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
        <% end %>
  </div>


  <div class="field">
    <%= form.label :direccion_de_atencion %>
    <%= form.text_field  id: :horario_direccion_de_atencion %>
  </div>
    <div class="w3-container w3-purple" style="margin-bottom: 14px">
          "recuerde indicar una direccioon de acuerdo a la zona de atencion (zona 1, zona 2, zona 3)"</h5>
        </div>
        <div class="field">

       <% if  current_user.nombre == horario.cliente %>
         <% if   current_user.apellido_paterno == horario.apellido%>
         <% if horario.disponibilidad == false%>

    <%= form.label :Para_eliminar_su_hora_marque_esta_casilla%>
    <%= form.check_box :disponibilidad, id: :horario_disponibilidad%>
           <% end %>
              <% end %>
           <% end %>


  <% if horario.disponibilidad != false%>
  <%= form.label :Para_reservar_su_hora_desmarque_esta_casilla%>

  <%= form.check_box(:disponibilidad, {checked: true})%>

               <% end %>






        </div>
    <dir><%= button_to "Agendar", horario_path,  data: { confirm: '¿Esta usted segur@?' } , :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>


  </div>

    <% end %>



    <% if current_user.permiso != "cliente"%>   <div class="field">


  <% if current_user.permiso == "administrador"%>   <div class="field">
    <%= form.label :profesional %>
    <%= form.text_field :profesional, id: :horario_profesional %>
   </div>
  <% end %>


<% if current_user.permiso == "profesional"%>
<%= form.label :profesional %>

 <%= form.select(:profesional) do %>
  <% [[current_user.nombre, current_user.nombre]].each do |c| -%>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
    <% end %>
<% end %>

</div>


<div class="field">
    <%= form.label :zona %>
    <%= form.select(:zona) do %>
  <% [['zona 1 ', 'zona 1'], ['zona 2', 'zona 2'], ['zona 3', 'zona 3']].each do |c| %>
    <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
<% end %>
</div>





  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha, id: :horario_fecha, start_year: Date.today.year,:minute_step => 60  %>


  </div>

  <% disponibilidad = true%>




 <div class="field">
    <%= form.label :Llenar_luego_de_realizar_atencion %>
    <%= form.text_field :descripcion, id: :horario_descripcion %>
  </div>




  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

  <div class="w3-container w3-purple" style="margin-bottom: 14px">



  <div class="cuadro container">
   <%= image_tag "comunas.png",  :alt => "comunas_santiago", :title => "zonas_de_atencion"%>
  </div>


  <div class="fourteen columns offset-one  left">
  <%= image_tag "sectores.png", :alt => "colores_comunas", :title => "colores_comunas"%>
  </div>
  <P> LISTADO DE COMUNAS </P>

  <div class="w3-container w3-blue" style="margin-bottom: 14px">
Huechuraba,
La florida,
La reina,
Las condes,
Lo barnechea,
Peñalolen,
Vitacura,
</div>
<div class="w3-container w3-green" style="margin-bottom: 14px">

Cerro navia,
Conchali,
Estacion central,
Independencia,
La granja,
Lo prado,
Macul,
Ñuñoa,
Quilicura,
Providencia,
Pudahuel,
Quinta normal,
Recoleta,
Renca,
San joaquin,
Santiago,
</div>
<div class="w3-container w3-red" style="margin-bottom: 14px">
Cerrillos,
El bosque,
La cisterna,
La pintana,
Lo espejo,
Maipu,
Pac,
Puente alto,
San bernardo,
San miguel,
San ramon,
</div>

</div>

</div>



<% end %>
