
<p id="notice"><%= notice %></p>

<h1>Horarios</h1>
<div class="w3-container w3-white" >

<table>
  <thead>
    <tr>
      <th>Profesional</th>
      <th>Zona</th>
      <th>Fecha</th>

      <th>Direccion de atencion</th>

      <th colspan="7">
      Opciones  </th>
    </tr>
  </thead>

  <tbody>


    <% @horarios.each do |horario| %>
    <% if horario.disponibilidad == false%>
    <% if current_user.nombre == horario.profesional%>

      <tr>
        <td><%= horario.profesional %></td>
        <td><%= horario.zona %></td>
        <td><%= horario.fecha %></td>

        <td><%= horario.direccion_de_atencion %></td>





                       <% if current_user.permiso == "profesional"%>
                       <% if current_user.nombre == horario.profesional%>
                       <td><%= link_to 'detalles', horario %></td>
                       <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                      <% end %>

                      <% end %>




                <% end %>
                <% end %>

                <% if current_user.permiso == "administrador"%>
                <tr>
                  <td><%= horario.profesional %></td>
                  <td><%= horario.zona %></td>
                  <td><%= horario.fecha %></td>

                  <td><%= horario.direccion_de_atencion %></td>

                  <% if current_user.permiso == "administrador"%>
                  <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td><%= link_to 'detalles', horario %></td>
                  <% end %>

                  </tr>
  <% end %>

                <% end %>


  </tbody>

</table>
<br></div>
<p>
</div>


<% if current_user.permiso != "cliente"%>


<% end %>
