<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table>
  <thead>
    <tr>
      <th>Comuna</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Disponible</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horarios.each do |horario| %>
      <tr>
        <td><%= horario.comuna %></td>
        <td><%= horario.fecha %></td>
        <td><%= horario.hora %></td>
        <td><%= horario.disponible %></td>
        <td><%= horario.comentario %></td>
        <td><%= link_to 'Mostrar', horario %></td>
        <td><%= link_to 'Modificar', edit_horario_path(horario) %></td>
        <td><%= link_to 'Eliminar', horario, method: :delete, data: { confirm: '¿Seguro que desea eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Horario', new_horario_path %>
