<p id="notice"><%= notice %></p>

<h1>Horarios</h1>

<table>
  <thead>
    <tr>
      <th>Profesional</th>
      <th>Zona</th>
      <th>Fecha</th>
      <th>Hora</th>

            <th>Disponibilidad</th>

      <th>Direccion de atencion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

<% variable = 0 %>

    <% @horarios.each do |horario| %>
    <% if horario.fecha  >= Date.today%></td>
    <% if current_user.permiso == "cliente"%>
    <% if  current_user.nombre == horario.cliente %>
    <% if   current_user.apellido_paterno == horario.apellido%>

    <% variable = 5 %>
    <% end %> <% end %> <% end %> <% end %> <% end %>


    <% @horarios.each do |horario| %>
      <tr>

        <% if horario.fecha  >= Date.today%></td>
        <% if variable = 0 %>


        <td><%= horario.profesional %></td>
        <td><%= horario.zona %></td>

        <td><%= horario.hora %></td>


        <% if horario.disponibilidad == false %>
     <td>Disponible
     </td>

       <% end %>

       <% if horario.disponibilidad == true %>
       <td>No disponible

       </td>
   <% end %>
        <td><%= horario.direccion_de_atencion %></td>
        <td><%= horario.descripcion %></td>
         <% if current_user.permiso == "cliente"%>
        <% if horario.disponibilidad == false%>
        <% if  current_user.nombre == horario.cliente %>
        <% if   current_user.apellido_paterno == horario.apellido%>


                        <td><%= link_to 'modificar', edit_horario_path(horario) %></td>
                        <% end %>  <% end %>  <% end %>  <% end %>






                       <% if current_user.nombre == horario.profesional%>
                       <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
                       <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <td><%= link_to 'Modificar', edit_horario_path(horario) %></td>
                      </tr>

                      <% end %>


                  <% if current_user.permiso == "administrador"%>
                  <td><%= link_to 'Editar', edit_horario_path(horario) %></td>
                  <td><%= link_to 'Destroy', horario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <td><%= link_to 'Modificar', edit_horario_path(horario) %></td>
                </tr>

                <% end %>
                <% end %>
                <% end %>



                <% end %>



  </tbody>
</table>

<br>
<p>
</div>
<% if current_user.permiso != "cliente"%>

<%= link_to 'Crear nuevo horario', new_horario_path %>
<% end %>

</p>
