<p id="notice"><%= notice %></p>

<p>
  <strong>Comuna:</strong>
  <%= @horario.comuna %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @horario.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @horario.hora %>
</p>

<p>
  <strong>Disponible:</strong>
  <%= @horario.disponible %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= @horario.comentario %>
</p>

<%= link_to 'Modificar', edit_horario_path(@horario) %> |
<%= link_to 'Volver', horarios_path %>
