<p id="notice"><%= notice %></p>


<div class="w3-container w3-yellow" style="margin-bottom: 14px">

<p>
  <strong>Profesional:</strong>
  <%= @horario.profesional %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @horario.zona %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @horario.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @horario.hora %>
</p>


<% if current_user.permiso != "cliente"%>   <div class="field">

<p>
  <strong>Cliente:</strong>
  <%= @horario.cliente %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @horario.apellido %>
</p>
<% end %>

<p>
  <strong>Direccion de atencion:</strong>
  <%= @horario.direccion_de_atencion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @horario.descripcion %>
</p>
<% if current_user.permiso != "cliente"%>   <div class="field">

<%= link_to 'Modificar', edit_horario_path(@horario) %> |
<% end %>

<%= link_to 'Volver a horarios', horarios_path %>
</div>
