<p id="notice"><%= notice %></p>

<p>
  <strong>Profesional:</strong>
  <%= @horario.profesional %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @horario.zona %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @horario.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @horario.hora %>
</p>

<p>
  <strong>Disponibilidad:</strong>
  <%= @horario.disponibilidad %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @horario.descripcion %>
</p>

<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
