<p id="notice"><%= notice %></p>

<p>
  <strong>Profesional:</strong>
  <%= @horario.profesional %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @horario.zona %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @horario.fecha %>
</p>

<% if current_user.permiso != "cliente"%>
<% if @horario.disponibilidad == false%>
<p>
  <strong>Cliente:</strong>
  <%= @horario.cliente %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @horario.apellido %>
</p>

<p>
  <strong>Direccion de atencion:</strong>
  <%= @horario.direccion_de_atencion %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @horario.descripcion %>
</p>
<% end %>

<% end %>

<%= link_to 'Editar', edit_horario_path(@horario) %> |
<%= link_to 'Volver', horarios_path %>
