<p id="notice"><%= notice %></p>

<p>
  <strong>Comuna:</strong>
  <%= @usercomuna.comuna %>
</p>

<p>
  <strong>User:</strong>
  <%= @usercomuna.user %>
</p>

<%= link_to 'Edit', edit_usercomuna_path(@usercomuna) %> |
<%= link_to 'Back', usercomunas_path %>
