<p id="notice"><%= notice %></p>

<h1>Diahorarios</h1>

<table>
  <thead>
    <tr>
      <th>Horario semana</th>
      <th>Dia horario semana</th>
      <th>Dia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diahorarios.each do |diahorario| %>
      <tr>
        <td><%= diahorario.horario_semana %></td>
        <td><%= diahorario.dia_horario_semana %></td>
        <td><%= diahorario.dia %></td>
        <td><%= link_to 'Show', diahorario %></td>
        <td><%= link_to 'Edit', edit_diahorario_path(diahorario) %></td>
        <td><%= link_to 'Destroy', diahorario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diahorario', new_diahorario_path %>
