<%= form_with(model: profesion, local: true) do |form| %>
  <% if profesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profesion.errors.count, "error") %> prohibited this profesion from being saved:</h2>

      <ul>
      <% profesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :profesion_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :profesion_descripcion %>
  </div>



        <% array = Array.new %>

        <%  @servicios.each do |s| %>

              <% array.push s.id %>


        <% end %>



         <% @assignments.each  do |a|%>

            <% a.servicio_id  = array.pop %>

          <% end %>



  <div class="field">
    <%= form.label :servicio%>
      <% @servicios.each  do |s|%>

                   

                                <div class="field" >
                                  
                                      <% if  array.any? { |item| item == s.id }%>

                                            <%= check_box_tag  "servicios[]" , s.id  %> <%= s.nombre %>      
                                      <% end  %>


                                </div>


      <% end %>    

  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
