
 <div class="w3-container" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

    <div>

                <h1 >Profesiones</h1>

                <table>
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Descripcion</th>
                      <th>Servicio</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @profesions.each do |profesion| %>
                      <tr>
                        <td><%= profesion.nombre %></td>
                        <td><%= profesion.descripcion %></td>

                        <td> <% if profesion.servicio.nil?%>

                                  No espesificado
                            
                            <% else %>

                                 <%= profesion.servicio.nombre %>

                             <%end%> 

                         </td>


                        <td><%= link_to 'Show', profesion %></td>
                        <td><%= link_to 'Edit', edit_profesion_path(profesion) %></td>
                        <td><%= link_to 'Destroy', profesion, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>

                <br>

                <div class="row">
                  
                  <dir><%= button_to "Nuevo",new_profesion_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

               
                        <% if current_user.permiso == "cliente"%>

                           <dir><%= button_to "Atrás", cliente_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>


                          <% end %>

                         <% if current_user.permiso == "profesional"%>
                           
                              <dir><%= button_to "Atrás", profesional_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
                            
                         <% end %>

                         <% if current_user.permiso == "administrador"%>

                            <dir><%= button_to "Atrás", administrador_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
                
                         <% end %>



                </div>

      </div>
</div>


