
<p>
  <strong>Nombre:</strong>
  <%= @profesion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @profesion.descripcion %>
</p>

<p>
  <strong> Servicios:</strong>

  <% @profesion.assignments.each do |assignment| %>

  	<h1><%= assignment.servicio.nombre %></h1>

  		<div>
  			<%= assignment.servicio.tarifa %> - <%= link_to "eliminarServicio" , eliminarServicio_path(assignment.id) , method: :delete %>
  		</div>

  <% end %>
</p>



<%= link_to 'Edit', edit_profesion_path(@profesion) %> |
<%= link_to 'Back', profesions_path %>
