

 <div class="w3-container" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

    <p>
      <strong>Nombre:</strong>
      <%= @profesion.nombre %>
    </p>


    <p>
      <strong>Descripcion:</strong>
      <%= @profesion.descripcion %>
    </p>

    <p>
      <strong> Servicios:</strong>

   <% @profesion.assignments.each do |assignment| %>

    <h1><%= assignment.servicio.nombre %></h1>

      <div class="row middle-xs" style="">
         <strong> Tarifa: </strong><%= assignment.servicio.tarifa %> -> <%= button_to "Eliminar" , eliminarServicio_path(assignment.id) , method: :delete , :class => "w3-button w3-border w3-red w3-hover-blue boton_padding"  %>
      </div>

      <% end %>
    </p>


          <div class="row  around-xs">
                          

                               <div class="col-xs-2  ">
                           
                                  <%= button_tag "Atras", :type => 'button', :class => "w3-button w3-border w3-red w3-hover-blue boton_padding", :onclick => "location.href = '#{profesions_path}'"%>
                              </dir>


                             
          </div>


  </div>
