
<p>
  <strong>Nombre:</strong>
  <%= @profesion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @profesion.descripcion %>
</p>

<p>
  <strong> Servicios:</strong>

  <% @profesion.servicios.each do |servicio| %>

  	<h1><%= link_to servicio.nombre, servicio %></h1>

  		<div>
  			<%= servicio.tarifa %> - <%= link_to "Eliminar" , servicio , method: :delete %>
  		</div>

  <% end %>
</p>



<%= link_to 'Edit', edit_profesion_path(@profesion) %> |
<%= link_to 'Back', profesions_path %>
