
<p>
  <strong>Nombre:</strong>
  <%= @profesion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @profesion.descripcion %>
</p>

<p>
  <strong> Servicios:</strong>
  <%= @profesion.servicio.nombre %>	  A : <%= @profesion.servicio.tarifa %>
</p>

<%= link_to 'Edit', edit_profesion_path(@profesion) %> |
<%= link_to 'Back', profesions_path %>
