<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha dia:</strong>
  <%= @dia_horario_semana.fecha_dia %>
</p>

<p>
  <strong>Hora8:</strong>
  <%= @dia_horario_semana.hora8 %>
</p>

<p>
  <strong>Hora9:</strong>
  <%= @dia_horario_semana.hora9 %>
</p>

<p>
  <strong>Hora10:</strong>
  <%= @dia_horario_semana.hora10 %>
</p>

<p>
  <strong>Hora11:</strong>
  <%= @dia_horario_semana.hora11 %>
</p>

<p>
  <strong>Hora12:</strong>
  <%= @dia_horario_semana.hora12 %>
</p>

<p>
  <strong>Hora13:</strong>
  <%= @dia_horario_semana.hora13 %>
</p>

<p>
  <strong>Hora14:</strong>
  <%= @dia_horario_semana.hora14 %>
</p>

<p>
  <strong>Hora15:</strong>
  <%= @dia_horario_semana.hora15 %>
</p>

<p>
  <strong>Hora16:</strong>
  <%= @dia_horario_semana.hora16 %>
</p>

<p>
  <strong>Hora17:</strong>
  <%= @dia_horario_semana.hora17 %>
</p>

<p>
  <strong>Hora18:</strong>
  <%= @dia_horario_semana.hora18 %>
</p>

<p>
  <strong>Hora19:</strong>
  <%= @dia_horario_semana.hora19 %>
</p>

<p>
  <strong>Hora20:</strong>
  <%= @dia_horario_semana.hora20 %>
</p>

<p>
  <strong>Hora21:</strong>
  <%= @dia_horario_semana.hora21 %>
</p>

<p>
  <strong>Hora22:</strong>
  <%= @dia_horario_semana.hora22 %>
</p>

<p>
  <strong>Hora23:</strong>
  <%= @dia_horario_semana.hora23 %>
</p>

<%= link_to 'Edit', edit_dia_horario_semana_path(@dia_horario_semana) %> |
<%= link_to 'Back', dia_horario_semanas_path %>
