<p id="notice"><%= notice %></p>

<h1>Horario Semanas</h1>

<table>
  <thead>
    <tr>
      <th>Fecha ini</th>
      <th>Fecha ter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horario_semanas.each do |horario_semana| %>
      <tr>
        <td><%= horario_semana.fecha_ini %></td>
        <td><%= horario_semana.fecha_ter %></td>
        <td><%= link_to 'Show', horario_semana %></td>
        <td><%= link_to 'Edit', edit_horario_semana_path(horario_semana) %></td>
        <td><%= link_to 'Destroy', horario_semana, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horario Semana', new_horario_semana_path %>
