<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha ini:</strong>
  <%= @horario_semana.fecha_ini %>
</p>

<p>
  <strong>Fecha ter:</strong>
  <%= @horario_semana.fecha_ter %>
</p>

<p>
  <strong>Dia horario semana lunes:</strong>
  <%= @horario_semana.dia_horario_semana_lunes %>
</p>

<p>
  <strong>Dia horario semana martes:</strong>
  <%= @horario_semana.dia_horario_semana_martes %>
</p>

<p>
  <strong>Dia horario semana miercoles:</strong>
  <%= @horario_semana.dia_horario_semana_miercoles %>
</p>

<p>
  <strong>Dia horario semana jueves:</strong>
  <%= @horario_semana.dia_horario_semana_jueves %>
</p>

<p>
  <strong>Dia horario semana viernes:</strong>
  <%= @horario_semana.dia_horario_semana_viernes %>
</p>

<p>
  <strong>Dia horario semana sabado:</strong>
  <%= @horario_semana.dia_horario_semana_sabado %>
</p>

<p>
  <strong>Dia horario semana domingo:</strong>
  <%= @horario_semana.dia_horario_semana_domingo %>
</p>

<%= link_to 'Edit', edit_horario_semana_path(@horario_semana) %> |
<%= link_to 'Back', horario_semanas_path %>
