<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha ini:</strong>
  <%= @horario_semana.fecha_ini %>
</p>

<p>
  <strong>Fecha ter:</strong>
  <%= @horario_semana.fecha_ter %>
</p>


<%= link_to 'Edit', edit_horario_semana_path(@horario_semana) %> |
<%= link_to 'Back', horario_semanas_path %>
