<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @horario_semana.nombre %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @horario_semana.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @horario_semana.fecha_termino %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @horario_semana.lunes_id %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @horario_semana.martes_id %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @horario_semana.miercoles_id %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @horario_semana.jueves_id %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @horario_semana.viernes_id %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @horario_semana.sabado_id %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @horario_semana.domingo_id %>
</p>

<%= link_to 'Edit', edit_horario_semana_path(@horario_semana) %> |
<%= link_to 'Back', horario_semanas_path %>
