
 <div class="w3-container" style="margin-bottom: 14px ; background-color:rgba(255,255,255,0.6);">

          <h1>Listado de profesional</h1>

          <table class="padding_table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Permiso</th>
                <th class="color-blanco-botones-tabla" colspan="3"> </th>
              </tr>
            </thead>

            <tbody>
              <% @profesionals.each do |profesional| %>
                <tr>
                  <td class="padding_table"><%= profesional.nombre %></td>
                  <td class="padding_table"><%= profesional.email %></td>
                  <td class="padding_table"><%= profesional.permiso %></td>


                  <td class="color-blanco-botones-tabla">
                     <%= button_to "apdate",edit_profesional_path(profesional), :method => :get , class: "imagen_ver" %>      
                  </td>

                  <td class="color-blanco-botones-tabla">
                     <%= button_to "",profesional_path(profesional) , :method => :get , class: "imagen_ver" %>      
                  </td>

                  <td class = "color-blanco-botones-tabla ">
                     <%= button_to "" , { :action => :destroy, :id => profesional.id }, :method => :delete, :data => { :confirm => 'Estas seguro de elimiarlo de los registros?' } , class: "imagen_eliminar" %>
                  </td>

                </tr>
              <% end %>

            </tbody>
          </table>



              <div class="row ">
          
                      <dir><%= button_to "Atrás", administrador_indexprincipal_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>
                
                
              </div>
</div>