<p id="notice"><%= notice %></p>


<p>
  <strong>Nombre:</strong>	
  <%= @profesional.nombre %>
</p>

<p>
  <strong>Email:</strong>	
  <%= @profesional.email %>
</p>
<p>
  <strong>Run:</strong>	
  <%= @profesional.rut %>
</p>

<p>
  <strong>Permiso:</strong> 
  <%= @profesional.permiso %>
</p>

  <strong>Numero contacto:</strong>	
  <%= @profesional.numero_contacto %>


</p>


	  <div class="row ">
        <div class="center-xs">
                      

          <dir><%= button_to "Atrás",profesional_index_path, :method => :get , class: "w3-button w3-border w3-green w3-hover-blue boton_padding" %> </dir>

      



          			</div>
              </div>
