<%= form_with(model: userprofesion, local: true) do |form| %>
  <% if userprofesion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userprofesion.errors.count, "error") %> prohibited this userprofesion from being saved:</h2>

      <ul>
      <% userprofesion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :profesion_id %>
    <%= form.text_field :profesion_id, id: :userprofesion_profesion_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :userprofesion_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
